<p id="notice"><%= notice %></p>

<h3>Welcome to OnTrack!</h3>
<br/>
<table class="table table-responsive table-hover table-bordered">
  <thead class="thead-dark">
    <tr>
      <th class="lease-th">Name</th>
      <th class="lease-th">Miles per year</th>
      <th class="lease-th">Lease term(Months)</th>
      <th class="lease-th">Projected Mileage</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @leases.each do |lease| %>
      <tr onclick="location.href='<%= lease_path(lease) %>'">
        <td class="lease-td"><%= lease.name %></td>
        <td class="lease-td"><%= lease.miles_per_year %></td>
        <td class="lease-td"><%= lease.lease_term %></td>
        <td class="lease-td"><%= lease.projected_mileage %></td>
        <% if lease.user == current_user %>
          <td class="btn-toolbar"><%= button_to 'Edit', edit_lease_path(lease), method: :get, class: 'btn btn-primary lease-btn' %>
          <%= button_to 'Destroy', lease, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger lease-btn' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? %>
  <%= button_to 'New Lease', new_lease_path, method: :get, class: 'btn btn-primary lease-btn' %>
<% else %>
  <p>Log in or sign up to add your own!</p>
<% end %>
