<p id="notice"><%= notice %></p>

<p>
  <strong>Initial lease date:</strong>
  <%= @lease.initial_lease_date %>
</p>

<p>
  <strong>Miles per year:</strong>
  <%= @lease.miles_per_year %>
</p>

<p>
  <strong>Lease term(Months):</strong>
  <%= @lease.lease_term %>
</p>

<p>
  <strong>Projected Mileage:</strong>
  <%= @lease.projected_mileage %>
</p>

<% if @lease.user == current_user %>
<%= link_to 'Edit', edit_lease_path(@lease) %> |
<% end %>
<%= link_to 'Back', leases_path %>
